h1, h2, p{
    text-align:center;
}
body{
    /*background-color: rgb( 228,202,218 );*/
    background-image: url(https://images.pexels.com/photos/12743455/pexels-photo-12743455.jpeg);
    background-size: cover;
    background-repeat:no-repeat;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

h1, h2, p{
    text-align:center;
}

h1{
    font-size: 40px;
    margin:0;
}
    
h2{
    font-size: 35px;
}

.top-line,.bottom-line{
    height: 2px;
    background-color: rgba(228, 202, 168, 0.904);
    border-color: rgb(66, 63, 60);
    box-shadow: -0px 4px 15px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -0px 4px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -0px 9px 15px 0px rgba(0,0,0,0.75);
}

.top-line{
    margin-top: 25px;
}

.bottom-line{
    margin-top: 25px;
    margin-bottom: 30px;
}


.tea-items p{
    background-color:orangered;
    display: inline-block;
}

.tea-flavor{
    text-align: left;
}

.tea-price{
    text-align: right;
}