h1, h2, p{
    text-align:center;
}
body{
    /*background-color: rgb( 228,202,218 );*/
    background-image: url(https://images.pexels.com/photos/12743455/pexels-photo-12743455.jpeg);
    background-size: cover;
    background-repeat:no-repeat;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

h1, h2, p{
    text-align:center;
}

h1{
    font-size: 40px;
    margin:0;
}
    
h2{
    font-size: 35px;
}

.tea-items p{
    background-color:orangered;
    display: inline-block;
}

.tea-flavor{
    text-align: left;
}

.tea-price{
    text-align: right;
}